@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.content {
  animation: fade 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.text p {
  opacity: 50%;
}

.text li {
  opacity: 50%;
}

.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.link img {
  width: 75px !important;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

.link:hover img {
  animation: moveup ease-in 0.5s;
  -webkit-animation: moveup ease-in 0.5s;
  animation-fill-mode: forwards;
  filter: none;
  -webkit-filter: none;
  cursor: pointer;
}

.link span {
  display: none;
  opacity: 0.5;
}

.link:hover span {
  display: block;
  animation: fade ease-in 0.5s;
}

.timeline {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-content {
  max-width: 1200px;
  width: 100%;
  margin-top: 2em;
}

.timeline-cart {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timeline-cart img {
  width: 300px;
}

.timeline-job {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.timeline-job ul {
  line-height: 2em;
}

.timeline-job ul li {
  margin-bottom: 0.5em;
  text-align: justify;
}

.timeline-title {
  display: flex;
  flex-direction: row;
}

.timeline-title p {
  display: flex;
  margin-right: 1em;
  align-items: center;
  font-weight: bold;
}

.timeline-title-text {
  border-left: 2px solid #2b2b2b;
  padding: 1em;
}

.timeline-title-text h3 {
  margin: 0;
  margin-bottom: 0.5em;
}

.timeline-title-text span {
  opacity: 50%;
  font-style: italic;
}

@keyframes moveup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-25px);
    opacity: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
